@import url("https://use.typekit.net/utn1sfl.css");

:root {
  --font-serif-minion: 'Minion Pro', serif;
  --font-serif-clarendon: clarendon-text-pro, serif;
  --color-white: #fff;
  --color-black: #000;
  --color-blue-grey: #bdccd4;
  --color-brown-grey: #969696;
  --color-dark-grey: #7f7f7f;
  --color-lighter-pink: #e2739333;
  --color-light-pink: #E27c9380;
  --color-navy: #232c3d;
  --color-light-brown: #745f64;
}

html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-serif-minion);
  line-height: 1;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  font-family: var(--font-serif-clarendon);
  font-size: 1.2em;
  text-transform: uppercase;
  padding-bottom: 20px;
}

h4 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1em;
  margin-top: 25px;
  margin-bottom: 0;
}



.title {
  text-align: center;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-blue-grey);
  padding: 50px;
}

.component__name {
  font-style: italic;
  font-size: 1.2em;
}

#add-space {
  height: 110px;
}

#center-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}




.page-header__nav {
  display: flex;
  flex-direction: column;
}

.page-header__nav-item {
  margin: 4px;
}

.feat-top {
  margin-top: 40px;
}

.feat-top__titles {
  display: flex;
  margin-bottom: 40px;
  width: 70%;
}

.feat-top__titles-list {
  display: flex;
  margin-top: 0;
}

.feat-top__heading {
  font-family: var(--font-serif-clarendon);
  padding-right: 50px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .08em;
  font-weight: 700;
}

.feat-top__titles-piece {
  padding-left: 10px;
  width: 185px;
}

.feat-top__titles-piece-title {
  font-size: 20px;
  margin: 0;
  color: var(--color-brown-grey);
}

.feat-top__titles-piece-title:hover {
  color: black;
  text-decoration: underline;
}

.feat-top__titles-piece-author {
  font-style: italic;
  color: var(--color-brown-grey);
}

.feat-top__slider {
  display: flex;
}

.feat-top__slider-text {
  margin-left: 40px;
}

.feat-top__slider-title {
  text-transform: uppercase;
  font-family: var(--font-serif-clarendon);
  font-size: 35px;
  font-weight: 700;
}

.feat-top__slider-img {
  max-width: 400px;
}

.feat-top__slider-snipet {
  font-size: 18px;
}

.feat-top__slider-author {
  color: var(--color-brown-grey);
  font-style: italic;
}



.author-icon {
  display: inline-block;
  background-color: var(--color-light-pink);
  border-radius: 50%;
  margin-right: 10px;
}

.author-icon__initials {
  font-family: var(--font-serif-clarendon);
  font-weight: 600;
  font-size: 15px;
  color: black;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 42px;
  width: 42px;  
}

.author-container {
  display: flex;
}




.author-icon--sm {
  display: inline-block;
  background-color: var(--color-light-pink);
  border-radius: 50%;
  margin-right: 10px;
}

.author-icon__initials--sm {
  font-family: var(--font-serif-clarendon);
  font-weight: 600;
  font-size: 10px;
  color: black;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 25px;
  width: 25px;  
}

.author-container--sm {
  display: flex;
  width: 250px;
}




.author-icon--lg {
  display: inline-block;
  background-color: var(--color-light-pink);
  border-radius: 50%;
  margin-right: 10px;
}

.author-icon__initials--lg {
  font-family: var(--font-serif-clarendon);
  font-weight: 800;
  font-size: 33px;
  color: black;
  display: table-cell;
  vertical-align: middle; 
  text-align: center;
  text-decoration: none;
  height: 80px;
  width: 80px;  
}

.author-container--lg {
  display: flex;
  justify-content: center;
}





.more {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: black;
  letter-spacing: .16em;
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.title {
  padding: 50px;
}




.carousel {
  border: 2px solid blue;
  max-width: 60%;
}

.carousel__heading {
  padding-left: 8px;
}

.carousel__list {
  display: flex;
  flex-wrap: wrap;
}

.carousel__piece {
  padding: 8px;
}

.carousel__img {
  width: 270px;
}

.carousel__title {
  font-size: 1.4em;
  line-height: 1.2em;
  font-weight: 300;
  margin-bottom: 0;
}

.carousel__title:hover {
  text-decoration: underline;
}

.carousel__author {
  color: var(--color-brown-grey);
  margin-top: 8px;
  font-style: italic;
}

#category-container {
  width: 270px;
  position: relative;
}

.carousel__category {
  margin: 0;
  padding: 8px;
  position: absolute;
  color: white;
  font-style: italic;
  font-size: .7em;
  background-color: black;
  top: 0;
  right: 0;
}



.see-more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-light-pink);
  height: 100px;
  padding-left: 20%;
}

.see-more__link {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--color-light-brown);
  padding-left: 5px;
}

.see-more__list {
  display: flex;
}

.see-more__list-item {
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  margin-right: 10px;
}





.feat-columns__list {
  display: flex;
}

.feat-columns__column {
  max-width: 140px;
  margin-right: 20px;
}

.feat-columns__title:hover {
  text-decoration: underline;
}

.feat-columns__column-author {
  font-size: 12px;
  color: var(--color-light-grey);
  font-family: var();
  font-style: italic;
  font-weight: 700;
}

.feat-columns__column-moto {
  font-weight: 300;
  letter-spacing: .01em;
  margin-top: 30px;
  margin-bottom: 10px;
}




.contributors__heading {
  font-family: var(--font-serif-clarendon);
  font-size: 1.2em;
  text-transform: uppercase;
  padding-bottom: 12px;
}

.contributors__contributor-name {
  color: var(--color-brown-grey);
  font-style: italic;
  margin-top: 7px;
  padding-left: 8px;
}

.contributors__list {
  margin-bottom: 25px;
}





.this-issue {
  display: flex;
  justify-content: center;
  background-color: var(--color-lighter-pink);
}

.this-issue__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 35px 35px 35px;
  position: relative;
  top: -60px;
}

.this-issue__text {
  position: relative;
  top: -60px;
}

.this-issue__piece {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.this-issue__piece-title {
  padding-top: 3px;
  padding-right: 30px;
  margin: 0;
}

.this-issue__piece-author {
  font-family: var(--font-serif-clarendon);
  font-size: 15px;
  margin: 0;
}






.button {
  background-color: white;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .2em;
  font-size: .7em;
  border: 2.5px solid black;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 135px;
  margin: 50px;
  box-shadow: -5px 5px var(--color-light-pink) !important;
}

.button:hover {
  background-color: var(--color-light-pink);
  box-shadow: -5px 5px black !important;
}

