<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Components | Believer Mag</title>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<h1 class="title">Web Components</h1>

	<article class="component">
		<h3 class="component__name">Main Nav</h3>
		<img class="component__img" src="img/page-header__nav.png" srcset="img/page-header__nav.png 2x" alt="">
	</article>
	<div id="center-container">
		<div class="component__code">
			<nav class="page-header__nav">
				<a href="#!"><img class="page-header__nav-item" src="../img/b.png" width="30" alt="Home"></a>
				<a href="#!"><img class="page-header__nav-item" src="../img/lines.png" width="30" alt="Home"></a>
				<a href="#!"><img class="page-header__nav-item" src="../img/mag.png" width="30" alt="Home"></a>
				<a href="#!"><img class="page-header__nav-item" src="../img/log.png" width="30" alt="Home"></a>
				<a href="#!"><img class="page-header__nav-item" src="../img/bag.png" width="30" alt="Home"></a>
				<a href="#!"><img class="page-header__nav-item" src="../img/search.png" width="30" alt="Home"></a>
			</nav>
		</div>
	</div>

	<article class="component">
		<h3 class="component__name">Header</h3>
		<img class="component__img" src="img/page-header.png" srcset="img/page-header.png 2x" alt="">
	</article>
	<div class="component__code">
		<div class="parallax"><img src="../img/believer3.png" alt="" width="1000"></div>
		<div style="height:200px;background-color:white"></div>
	</div>

	<article class="component">
		<h3 class="component__name">Featured</h3>
		<img class="component__img" src="img/feat-top.png" srcset="img/feat-top.png 2x" alt="">
	</article>
	<div id="center-container">
		<div class="component__code">
			<section class="feat-top">
				<article class="feat-top__titles">
					<h5 class="feat-top__heading">Featured</h5>
						<div class="feat-top__titles-list">
							<div class="feat-top__titles-piece">
								<a href="#!"><h3 class="feat-top__titles-piece-title">An Interview with Andrew Garfield</h3>
								<h5 class="feat-top__titles-piece-author">By Esmé Weijun Wang</h5></a>
							</div>
							<div class="feat-top__titles-piece">
								<a href="#!"><h3 class="feat-top__titles-piece-title">Stuck</h3>
								<h5 class="feat-top__titles-piece-author">By Amy Reardon</h5></a>
							</div>
							<div class="feat-top__titles-piece">
								<a href="#!"><h3 class="feat-top__titles-piece-title">La Folía</h3>
								<h5 class="feat-top__titles-piece-author">By Vivian Blaxell</h5></a>
							</div>
							<div class="feat-top__titles-piece">
								<a href="#!"><h3 class="feat-top__titles-piece-title">An Interview with Percival Everett</h3>
								<h5 class="feat-top__titles-piece-author">By James Yeh</h5></a>
							</div>
						</div>
				</article>
				<a href="#!"><article class="feat-top__slider">
					<img class="feat-top__slider-img" src="../img/slider.png" alt="children's group maypole dancing 1900-1910 Queensland">
					<div class="feat-top__slider-text">
						<p class="feat-top__slider-snipet">Children's group maypole dancing. 1900-1910. Queensland.</p>
						<h2 class="feat-top__slider-title">La Folía</h2>
						<div class="author-container">
							<div class="author-icon-container">
								<div class="author-icon">
				  					<p class="author-icon__initials">VB</p>
								</div>
							</div>
							<h5 class="feat-top__slider-author">By Vivian Blaxell</h5>
						</div>
						<a href="#!" class="more">More</a>
					</div>
				</article></a>
			</section>
		</div>
	</div>

	<article class="component">
		<h3 class="component__name">Carousel</h3>
		<img class="component__img" src="img/carousel.png" srcset="img/carousel.png 2x" alt="">
	</article>
	<div id="center-container">
		<div class="component__code">
			<section class="carousel">
				<h2 class="carousel__heading">The Latest</h2>
				<div class="carousel__list">
					
					<article class="carousel__piece">
						<div id="category-container">
							<img class="carousel__img" src="../img/art1.png" alt="">
							<p class="carousel__category">Subject</p>
						</div>
						<h3 class="carousel__title"><span class="hover-underliner">Title Goes Here</span></h3>
						<h5 class="carousel__author">JS Wu</h5>
					</article>
					
					<article class="carousel__piece">
						<div id="category-container">
							<img class="carousel__img" src="../img/art4.png" alt="">
							<p class="carousel__category">Subject</p>
						</div>
						<h3 class="carousel__title"><span class="hover-underliner">Title Goes Here</span></h3>
						<h5 class="carousel__author">Peter Orner</h5>
					</article>

					<article class="carousel__piece">
						<div id="category-container">
							<img class="carousel__img" src="../img/art5.png" alt="">
							<p class="carousel__category">Subject</p>
						</div>
						<h3 class="carousel__title"><span class="hover-underliner">Title Goes Here</span></h3>
						<h5 class="carousel__author">Amber Husain</h5>
					</article>
				
					<article class="carousel__piece">
						<div id="category-container">
							<img class="carousel__img" src="../img/art6.png" alt="">
							<p class="carousel__category">Subject</p>
						</div>
						<h3 class="carousel__title"><span class="hover-underliner">Title Goes Here</span></h3>
						<h5 class="carousel__author">Angie Kang</h5>
					</article>
					
					<article class="carousel__piece">
						<div id="category-container">
							<img class="carousel__img" src="../img/art3.png" alt="">
							<p class="carousel__category">Subject</p>
						</div>
						<h3 class="carousel__title"><span class="hover-underliner">Title Goes Here</span></h3>
						<h5 class="carousel__author">JS Wu</h5>
					</article>
				
					<article class="carousel__piece">
						<div id="category-container">
							<img class="carousel__img" src="../img/art2.png" alt="">
							<p class="carousel__category">Subject</p>
						</div>
						<h3 class="carousel__title"><span class="hover-underliner">Title Goes Here</span></h3>
						<h5 class="carousel__author">Madeleine Watts</h5>
					</article>
					
				</div>
			</section>
		</div>
	</div>
	
	<article class="component">
		<h3 class="component__name">See More</h3>
		<img class="component__img" src="img/see-more.png" srcset="img/see-more.png 2x" alt="">
	</article>
	<div id="add-space">
	</div>
	<div class="component__code">
		<section class="see-more">
			<a class="see-more__link" href="#!">See More...</a>
			<div class="see-more__list">
				<a href="#!"><p class="see-more__list-item">Interviews</p></a>
				<a href="#!"><p class="see-more__list-item">Schemas</p></a>
				<a href="#!"><p class="see-more__list-item">Comics</p></a>
				<a href="#!"><p class="see-more__list-item">The Field</p></a>
			</div>
		</section>
	</div>
	<div id="add-space">
	</div>

	<article class="component">
		<h3 class="component__name">Featured Columns</h3>
		<img class="component__img" src="img/feat-columns.png" srcset="img/feat-columns.png 2x" alt="">
	</article>
	<div id="center-container">
		<div class="component__code">
			<section class="feat-columns">
				<h2 class="feat-columns__heading">Featured Columns</h2>
				<section class="feat-columns__list">
					<a href="#!"><article class="feat-columns__column">
						<div class="author-container author-container--lg">
							<div class="author-icon author-icon--lg">
			  					<p class="author-icon__initials author-icon__initials--lg">VB</p>
							</div>
						</div>
						<div class="feat-columns__column-text">
							<h4 class="feat-columns__title"><span class="hover-underliner">
								Stuff I've Been Reading</span>
							</h4>
							<p class="feat-columns__column-author">Nick Hornby
							</p>
							<h5 class="feat-columns__column-moto">Established in 2003 and still going strong
							</h5>
							<a href="#!" class="more">More
							</a>
						</div>
					</article></a>
					<a href="#!"><article class="feat-columns__column">
						<div class="author-container author-container--lg">
							<div class="author-icon author-icon--lg">
			  					<p class="author-icon__initials author-icon__initials--lg">JG</p>
							</div>
						</div>
						<div class="feat-columns__column-text">
							<h4 class="feat-columns__title"><span class="hover-underliner">
								Ask Jeannie</span>
							</h4>
							<p class="feat-columns__column-author">Jean Grae
							</p>
							<h5 class="feat-columns__column-moto">Jean Grae can help you
							</h5>
							<a href="#!" class="more">More
							</a>
						</div>
					</article></a>
					<a href="#!"><article class="feat-columns__column">
						<div class="author-container author-container--lg">
							<div class="author-icon author-icon--lg">
			  					<p class="author-icon__initials author-icon__initials--lg">PO</p>
							</div>
						</div>
						<div class="feat-columns__column-text">
							<h4 class="feat-columns__title"><span class="hover-underliner">
								Notes in the Margin</span>
							</h4>
							<p class="feat-columns__column-author">Peter Orner
							</p>
							<h5 class="feat-columns__column-moto">The Stray Thoughts of a Scattered Reader 
							</h5>
							<a href="#!" class="more">More
							</a>
						</div>
					</article></a>
				</section>
			</section>
		</div>
	</div>

	<article class="component">
		<h3 class="component__name">Contributors</h3>
		<img class="component__img" src="img/contributors.png" srcset="img/contributors.png 2x" alt="">
	</article>
	<div id="center-container">
		<div class="component__code">
			<section class="contributors">
				<h2 class="contributors__heading">Contributors</h2>
				<div class="contributors__list">
					<a href="#!"><div class="author-container author-container--sm">
						<div class="author-icon-container author-icon-container--sm">
							<div class="author-icon author-icon--sm">
			  					<p class="author-icon__initials author-icon__initials--sm">TN</p>
							</div>
						</div>
						<h5 class="contributors__contributor-name">Tarisai Ngangura</h5>
					</div></a>
					<a href="#!"><div class="author-container author-container--sm">
						<div class="author-icon-container author-icon-container--sm">
							<div class="author-icon author-icon--sm">
			  					<p class="author-icon__initials author-icon__initials--sm">TK</p>
							</div>
						</div>
						<h5 class="contributors__contributor-name">T Kira Māhealani Madden</h5>
					</div></a>
					<a href="#!"><div class="author-container author-container--sm">
						<div class="author-icon-container author-icon-container--sm">
							<div class="author-icon author-icon--sm">
			  					<p class="author-icon__initials author-icon__initials--sm">KY</p>
							</div>
						</div>
						<h5 class="contributors__contributor-name">Katie Yee</h5>
					</div></a>
					<a href="#!"><div class="author-container author-container--sm">
						<div class="author-icon-container author-icon-container--sm">
							<div class="author-icon author-icon--sm">
			  					<p class="author-icon__initials author-icon__initials--sm">OV</p>
							</div>
						</div>
						<h5 class="contributors__contributor-name">Ocean Vuong</h5>
					</div></a>
					<a href="#!"><div class="author-container author-container--sm">
						<div class="author-icon-container author-icon-container--sm">
							<div class="author-icon author-icon--sm">
			  					<p class="author-icon__initials author-icon__initials--sm">MU</p>
							</div>
						</div>
						<h5 class="contributors__contributor-name">Masanori Ushiki</h5>
					</div></a>
					<a href="#!"><div class="author-container author-container--sm">
						<div class="author-icon-container author-icon-container--sm">
							<div class="author-icon author-icon--sm">
			  					<p class="author-icon__initials author-icon__initials--sm">MS</p>
							</div>
						</div>
						<h5 class="contributors__contributor-name">Michael Shewmaker</h5>
					</div></a>
					<a href="#!"><div class="author-container author-container--sm">
						<div class="author-icon-container author-icon-container--sm">
							<div class="author-icon author-icon--sm">
			  					<p class="author-icon__initials author-icon__initials--sm">KS</p>
							</div>
						</div>
						<h5 class="contributors__contributor-name">Katie Shepherd</h5>
					</div></a>
				</div>
				<a href="#!" class="more">More</a>
			</section>
		</div>
	</div>

	<article class="component">
		<h3 class="component__name">This Issue</h3>
		<img class="component__img" src="img/this-issue.png" srcset="img/this-issue.png 2x" alt="">
	</article>
	<div id="add-space">
	</div>
	<div class="component__code">
		<section class="this-issue">
			<article class="this-issue__subscribe">
				<a href="#!"><img class="this-issue__subscribe-img" src="../img/this-issue.png" alt="cover of current issue" height="450"></a>
				<a href="#!"><p class="button">Subcribe</p></a>
			</article>
			<article class="this-issue__text">
				<h2 class="this-issue__text-heading">What's in this issue?</h2>
				<div class="this-issue__text-list">
					<a href="#!"><div class="this-issue__piece">
						<h4 class="this-issue__piece-title">An Interview with Andrew <br> Garfield</h4>
						<p class="this-issue__piece-author">Esmé Weijun Wang</p>
					</div></a>
					<a href="#!"><div class="this-issue__piece">
						<h4 class="this-issue__piece-title">Hold On ............</h4>
						<p class="this-issue__piece-author">Angie Kang</p>
					</div></a>
					<a href="#!"><div class="this-issue__piece">
						<h4 class="this-issue__piece-title">Yellow Faces ............</h4>
						<p class="this-issue__piece-author">JS Wu</p>
					</div></a>
					<a href="#!"><div class="this-issue__piece">
						<h4 class="this-issue__piece-title">I Can't Wait to Get Started ............</h4>
						<p class="this-issue__piece-author">Amber Husain</p>
					</div></a>
					<a href="#!"><div class="this-issue__piece">
						<h4 class="this-issue__piece-title">Notes in the Margin ............</h4>
						<p class="this-issue__piece-author">Peter Orner</p>
					</div></a>
					<a href="#!"><div class="this-issue__piece">
						<h4 class="this-issue__piece-title">An Interview with Vi Khi <br> Nao</h4>
						<p class="this-issue__piece-author">Kim-Anh Schreiber</p>
					</div></a>
					<a href="#!"><div class="this-issue__piece">
						<h4 class="this-issue__piece-title">Object: Julia Roberts ............ <br> Memorabilia</h4>
						<p class="this-issue__piece-author">T Kira Māhealani Madden</p>
					</div></a>
					<a href="#!"><div class="this-issue__piece">
						<h4 class="this-issue__piece-title">One Thing ............</h4>
						<p class="this-issue__piece-author">Rae Armantrout</p>
					</div></a>
					<a href="#!" class="more">More</a>
				</div>
			</article>
		</section>
	</div>

	<article class="component">
		<h3 class="component__name">Past Issues</h3>
		<img class="component__img" src="img/past-issues.png" srcset="img/past-issues.png 2x" alt="">
	</article>
		
			<div class="component__code">
				<section class="past-issues">
					<h2 class="past-issues__heading">Past Issues</h2>
					<section class="past-issues__list">
						<article class="past-issues__list-item">
							<img class="past-issues__list-img" src="../img/cover1.png" alt="" height="150">
							<h5 class="past-issues__list-date">December 2021 January 2022</h5>
						</article>
						<article class="past-issues__list-item">
							<img class="past-issues__list-img" src="../img/cover2.png" alt="" height="150">
							<h5 class="past-issues__list-date">October November 2021</h5>
						</article>
						<article class="past-issues__list-item">
							<img class="past-issues__list-img" src="../img/cover3.png" alt="" height="150">
							<h5 class="past-issues__list-date">Summer 2021</h5>
						</article>
						<article class="past-issues__list-item">
							<img class="past-issues__list-img" src="../img/cover4.png" alt="" height="150">
							<h5 class="past-issues__list-date">April May 2021</h5>
						</article>
						<article class="past-issues__list-item">
							<img class="past-issues__list-img" src="../img/cover5.png" alt="" height="150">
							<h5 class="past-issues__list-date">February March 2021</h5>
						</article>
					</section>
					<a href="#!" class="more">More</a>
				</section>
			</div>
		

</body>
</html>