<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Components | Believer Mag</title>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<h1>Web Components</h1>

	<h2>Typography Defaults</h2>

	<article class="component">
		<h3 class="component__name">Header</h3>
		<img 
			srcset="img/header.png 2x"
			src="img/header.png"
			alt=""
		>
	</article>
	<div class="component__code">
		Code Goes Here
	</div>

</body>
</html>